  <div class="row-fluid">
   <div class="span8">
     <%= form_for(@contest) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
   <div class="field">
    <%= f.label :pic %><br />
    <%= f.file_field :pic %>
  </div>
   <div class="field">
    <%= f.label :image_remote_url %><br />
    <%= f.text_field :image_remote_url %>
  </div>

  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
  </div>
  </div>